<!doctype html>
<!--script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script-->
<link href="{{ url_for('static', filename = "bootstrap/dist/css/bootstrap.min.css") }}" rel="stylesheet">
<link href="{{ url_for('static', filename = "css/mycss.css") }}" rel="stylesheet">
<script>
/*$(document).ready(function(){
        $("input").change(function() {
            alert("test");
        });
});
*/
function check(list) {
    var result = new Array(list.length);
    for ( var i=0; i < list.length; i++)
    {
	input_num = document.getElementById("input_"+i.toString()).value;
	right = document.getElementById("right_"+i.toString());
	if(input_num.trim() == "") 
	{
	    result[i] = false
	    right.style.visibility = 'hidden';
	}
	if(input_num.trim() == list[i][0] + list[i][1]) 
	{
	    result[i] = true
	    right.style.visibility = 'visible';
	}
	else{
	    result[i] = false
	    right.style.visibility = 'hidden';
	}
    }
//    alert(result)
    return result
}
</script>

<title>Hello from HappyParents</title>

<nav class="navbar navbar-default" role="navigation">
 <h3> Hello {{ name }}! </h3>
</nav>

<div class = 'horizontal'>
{% for i in range(3) %}
    <h1> {{ num_list[i][0] }} + {{ num_list[i][1] }} </h1>
    <div class = 'input-group'>
	<span class="input-group-addon">=</span>
	<input id="input_{{ i }}" type="text" class="form-control" placeholder="Result" onchange="check({{ num_list }})" />
    </div>
    <img src="{{ url_for('static', filename = "image/right.jpg") }}" id="right_{{ i }}" alt="right" width="50" height="40" style="visibility:hidden">
{% endfor %}
<br>
<br>
<input class="input-group" type="button" onclick="javascript:location.reload();" value="Refresh" />
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename = "bootstrap/dist/js/bootstrap.min.js") }}"></script>
