.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100px;
}

#center {
  text-align: center
}

html, body, #center {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
#center td {
   vertical-align: middle;
   text-align: center;
}

div.horizontal {
    display: block;
    height: 200px;
    width: 200px;
    margin: 0px auto;
}

div.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
